.navbar {
  // Dynamic shared variables to ensure the navbar btn icon is always perfectly centered within the circular clip-path
  --btn-size: 30px;
  --btn-top: 2rem;
  --btn-right: 2rem;
}

.navbar__container {
  @apply z-20 fixed h-full w-full bg-primary-300;

  // Default close state
  clip-path: circle(
    30px at calc(100% - var(--btn-right) - (var(--btn-size) / 2))
      calc(var(--btn-top) + (var(--btn-size) / 2))
  );

  transition: clip-path 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

// Open state
.navbar.open .navbar__container {
  clip-path: circle(
    150% at calc(100% - var(--btn-right) - (var(--btn-size) / 2))
      calc(var(--btn-top) + (var(--btn-size) / 2))
  );
}

// Close state
.navbar.closed .navbar__container {
  clip-path: circle(
    30px at calc(100% - var(--btn-right) - (var(--btn-size) / 2))
      calc(var(--btn-top) + (var(--btn-size) / 2))
  );
}

.navbar__menu-wrapper {
  @apply flex px-10 py-20 h-full items-center justify-center;

  .navbar__menu {
    @apply flex flex-col;

    .navbar__menu-item {
      @apply text-primary-600 font-medium uppercase mb-5;
    }

    .navbar__menu-item-info {
      @apply flex items-end;

      p {
        @apply me-1 mb-1;
      }
    }

    .navbar__menu-item-info h1 {
      @apply relative inline-block;
    }

    .navbar__menu-item-info h1 span {
      @apply absolute left-0 -bottom-1 h-[3px] w-0 bg-primary-500 transition-all duration-300 group-hover:w-full;
    }
  }
}

.navbar__menu-toggle-btn {
  @apply z-30 fixed flex items-center justify-center text-primary-600 cursor-pointer;

  top: var(--btn-top);
  right: var(--btn-right);
  width: var(--btn-size);
  height: var(--btn-size);
  transition: transform 0.3s ease;
}

.navbar__menu-toggle-btn.open {
  transform: rotate(180deg);
}
