@use "layout/main";
@use "layout/footer";
@use "layout/header";
@use "components/navbar";
@use "components/gallery";
@use "components/social-link";
@use "components/blog";

@import url("tailwindcss"); // Signals to Sass that this is a plain CSS import

@theme {
  /* Colors */
  --color-primary-100: #f4eee8; // soft ivory
  --color-primary-200: #f2e6d9; // light beige
  --color-primary-300: #e1c8ab; // warm sand
  --color-primary-400: #c1a788; // muted tan
  --color-primary-500: #5f554a; // deep taupe
  --color-primary-600: #504538; // dark mocha

  /* Screens */
  --breakpoint-xs: 425px;
}

@layer base {
  body {
    font-family: var(--font-noto-sans);
  }

  body::-webkit-scrollbar {
    @apply hidden;
  }

  h1 {
    @apply xl:text-8xl xs:text-5xl text-4xl font-semibold text-primary-600;
  }

  h2 {
    @apply md:text-6xl text-5xl font-extrabold text-primary-600;
  }

  h4 {
    @apply md:text-5xl text-4xl font-semibold;
  }

  h5 {
    @apply xs:text-2xl text-xl font-extrabold text-primary-600;
  }

  p {
    @apply text-lg;
  }
}

@utility blog-grid-title {
  @apply xs:text-2xl font-semibold text-black;
}
