@use "layout/main";
@use "layout/footer";
@use "layout/header";
@use "components/navbar";
@use "components/gallery";
@use "components/social-link";
@use "components/blog";
@use "components/work";

@import url("tailwindcss"); // Signals to Sass that this is a plain CSS import

@theme {
  /* Colors */
  --color-primary-100: #f4eee8; // soft ivory
  --color-primary-200: #f2e6d9; // light beige
  --color-primary-300: #e1c8ab; // warm sand
  --color-primary-400: #c1a788; // muted tan
  --color-primary-500: #5f554a; // deep taupe
  --color-primary-600: #504538; // dark mocha

  /* Screens */
  --breakpoint-xs: 425px;
}

@layer base {
  body {
    font-family: var(--font-noto-sans);
  }

  body::-webkit-scrollbar {
    @apply hidden;
  }

  p {
    @apply text-lg;
  }
}

/* Heading 1 */
@utility nav-menu-title {
  @apply xl:text-8xl xs:text-5xl text-4xl font-semibold text-primary-600;
}

@utility home-header-heading {
  @apply md:text-5xl text-4xl text-transparent uppercase font-semibold;
}

@utility page-heading {
  @apply md:text-6xl text-5xl text-primary-600 font-extrabold;
}

@utility not-found-heading {
  @apply md:text-6xl text-5xl font-extrabold text-primary-600;
}

@utility blog-detail-heading {
  @apply md:text-5xl text-3xl font-bold text-primary-600;
}

/* Heading 2 */
@utility section-title {
  @apply xs:text-2xl text-xl font-extrabold text-primary-600;
}

@utility blog-grid-heading {
  @apply xs:text-2xl font-semibold text-black;
}

/* Heading 3 */
@utility blog-detail-section-heading {
  @apply xs:text-2xl text-xl font-extrabold text-primary-600;
}

/* Load More Btn */
@utility load-more-btn-wrapper {
  @apply flex justify-center;
}

@utility load-more-btn {
  @apply px-8 py-3 border border-black/30 text-sm tracking-widest uppercase text-black/60
      hover:border-black/60 hover:text-black hover:cursor-pointer transition-colors duration-200 rounded-sm;
}
